/* SearchBox.module.css */

.searchBoxRoot {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchBoxForm {
  width: 100%;
  position: relative;
}

.searchBoxInput {
  font-size: 18px; /* Big font size for better visibility */
  padding: 10px 20px; /* Add some padding for aesthetics */
  width: 100%; /* Full width of the form */
  border: 1px solid #dfe1e5; /* Google-like border */
  border-radius: 24px; /* Rounded corners */
  outline: none; /* Remove the outline */
}

.searchBoxSubmit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.searchBoxReset {
  display: none; /* Hide the reset button */
}

/* Add any responsive or specific state styles here */

/* Hits.module.css */

.hitsContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Creates 7 columns */
  gap: 10px; /* Spacing between items */
  padding: 10px; /* Padding around the grid */
}

.hitItem {
  cursor: pointer; /* Indicates the item is clickable */
  transition: transform 0.3s ease; /* For a smooth hover effect */
}

.hitItem:hover {
  transform: scale(1.05); /* Slightly enlarges the item on hover */
}

.hitImage {
  width: 100%; /* Ensures the image fills the container */
  height: auto; /* Keeps the image aspect ratio */
  border-radius: 8px; /* Optional: rounds the corners of the image */
}

/* Responsive layout for smaller screens */
@media (max-width: 1024px) {
  .hitsContainer {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on smaller screens */
  }
}

@media (max-width: 768px) {
  .hitsContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile screens */
  }
}