.searchBoxRoot {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.searchBoxForm {
  width: 80%;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.searchBoxInput {
  font-size: 20px;
  padding: 12px 24px;
  width: 100%;
  border: 2px solid #dfe1e5;
  border-radius: 30px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.searchBoxInput::placeholder {
  color: #9aa0a6;
  font-style: italic;
  text-align: start;
}

.searchBoxInput.active::placeholder {
  text-align: start;
}

.searchBoxInput:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.searchBoxLoadingIndicator {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.searchBoxSubmit {
  display: none;
}

.searchBoxReset {
  display: none;
}

.hitsContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.hitImage {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.hitImage:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.hitImage:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1024px) {
  .hitsContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .hitsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
