/* When dragging files over the page */
.dragActive {
  background-color: #7bc6ff38; /* Or any color you want to show during drag over */
  z-index: 9999; /* High z-index to ensure it's on top */
}

.dropzone .dragActive {
  cursor: grab;
}

.dropzone {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}