.dragActive {
  background-color: #7bc6ff38;
  z-index: 9999;
}

.dropzone .dragActive {
  cursor: grab;
}

.dropzone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
